.main_header_wrapper {
  width: 100vw-3px;
  height: 50px;
  background-color: #000;
  color: #fff;
  min-width: 600px;
  position: relative;
}

.main_header_wrapper .myLogo {
  position: absolute;
  top: 13px;
  left: 20px;
}

.main_header_wrapper .topMenu_wrapper {
  position: absolute;
  top: -2px;
  left: 300px;
}

.topMenu_bundle .topMenu_item {
  list-style: none;
  float: left;
  padding-right: 30px;
}

.main_header_wrapper .header_description {
  position: absolute;
  top: 13px;
  left: 300px;
}

.slider_wrapper {
  width: 100vw-3px;
  height: 260px;
  /* background-color: antiquewhite; */
}

.slider_container {
  height: 260px;
  width: 600px;
  /* background-color: aquamarine; */
  text-align: center;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
}

.picture_list {
  width: 2400px;
  height: 260px;
  transition-duration: 1s;
}

.slide_bundle {
  padding-left: 0px;
}

.slide_bundle .slide_item {
  list-style: none;
  float: left;
}

.slider_container .arrow_left {
  display: block;
  position: absolute;
  top: 110px;
  left: 20px;
}

.slider_container .arrow_right {
  display: block;
  position: absolute;
  top: 110px;
  right: 20px;
}

.headerTap {
  list-style: none;
}

.topMenu_bundle .nav-item {
  list-style: none;
  float: left;
  padding-right: 30px;
}

.tab-content {
  width: 100vh-3px;
}
.tab-content .tab-pane {
  display: none;
}
.tab-content .active {
  display: block;
}

.contentsArea {
  width: 100vw-3px;
  background-color: aquamarine;
}
